<li>
  <%= I18n.l(cooking.cooked_at) %>
  <%= link_to "❌", [cooking.meal, cooking], data: {
                turbo_method: :delete,
                turbo_confirm: "Eintrag für den #{I18n.l(cooking.cooked_at)} wirklich löschen?"
              } %>
</li>
