<h1>Benutzer</h1>

<table>
  <thead>
    <tr>
      <th>eMail</th>
      <th>zuletzt angemeldet</th>
      <th>Aktionen</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= I18n.l user.sessions.where("claimed_at not NULL").order(:updated_at).last.updated_at %></td>
        <td>
          <% if user == current_user %>
            (aktiv)
          <% else %>
          <%= link_to 'Löschen', user_path(user), method: :delete, data: {
                      turbo_method: :delete,
                      turbo_confirm: "\"#{user.email}\" wirklich löschen?"
              }
          %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neu registrieren', new_registration_path %>
