#!/bin/bash

set -euo pipefail
IFS=$'\n\t'

# B2_APPLICATION_KEY_ID and B2_APPLICATION_KEY are set in service unit
b2 authorize-account

bucket=suhlig-mealtracker-backup
localBackupFile="$(mktemp -t sqlite-backup.XXXXXXX)"
remoteFileName="mealtracker-backup-production.daily-$(date +%A).sqlite3"
sqlite3 {{ ansistrano_shared_path }}/production.sqlite3 ".backup $localBackupFile"
b2 upload-file "$bucket" "$localBackupFile" "$remoteFileName"

latestFileId="$(b2 ls "$bucket" --json \
| jq \
    --arg remoteFileName "$remoteFileName" \
    --raw-output \
    '.[] | select(.fileName == $remoteFileName) | .fileId'
)"

echo "Latest fileId is $latestFileId"

if [ "$(date +%A)" = Sunday ]; then
  echo "It's Sunday, so we keep today's backup as the one for week $(date +%V)."
  b2 copy-file-by-id "$latestFileId" "$bucket" "mealtracker-backup-production.week-$(date +%V).sqlite3"
fi

if [ "$(date +%m-%d)" = 12-31 ]; then
  echo "It's the last day of the year, so we keep today's backup as the one for $(date +%Y)."
  b2 copy-file-by-id "$latestFileId" "$bucket" "mealtracker-backup-production.$(date +%Y).sqlite3"
fi
