<ul>
  <% @meals.each do |meal| %>
    <li>
      <%= link_to meal.title, meal %>
      <% if last_cooked = meal.cookings.order(cooked_at: :desc).first %>
        (zuletzt gegessen am <%= I18n.l last_cooked.cooked_at %>)
      <% end %>
    </li>
  <% end %>
</ul>
