/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.error, .notice, .error_explanation {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
}

.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.2em; }
.tag3 { font-size: 1.4em; }
.tag4 { font-size: 1.6em; }

.autocomplete-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-results li {
  border: 1px solid var(--border);
  margin-top: -1px; /* Prevent double borders */
  background-color: var(--accent-bg);
  padding: 12px;
}

.autocomplete-results li[aria-selected="true"] {
  /* invert colors for the selected list entry */
  color: var(--accent-bg);
  background-color: var(--accent);
}
